<h1><%= t(:redirect_to_payment_provider) %></h1>
<form action="https://payment-webinit.simu.omnikassa.rabobank.nl/paymentServlet " method="post">
  <input type="hidden" name="Seal" value="<%= @seal %>"/><br/>
  <input type="hidden" name="Data" value="<%= @data %>"/><br/>
  <input type="hidden" name="InterfaceVersion" value="HP_1.0"/><br/>
</form>

<script type="text/javascript">
  $('form').submit();
</script>
